<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">


</head>
<body>
<header th:replace="layout :: site-header"></header>
<h1>Users will come here</h1>
<main id="users">
    <table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Fullname</th>
    </tr>
    <article th:each="u : ${findAll}">
        <tr>
        <td class="id" th:text="${u.id}">User's Id</td>
        <td class="username" th:text="${u.username}">User's username</td>
        <td th:if="${u.fullName}" th:remove="tag">
                    <td th:text="${u.fullName}">Full name</td>
                </td>
        </tr>
    </article>
    </table>
</main>
</body>
<footer th:replace="layout :: site-footer"></footer>
</html>