<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Login</title>
</head>

<body>
<header th:replace="layout :: site-header" /><!--Layout-->

<h1>Login in the Blog</h1>

<form method="post" th:object="${loginForm}"><!--pass the data to loginForm model -->
    <div><label for="username">Username:</label></div><!--label tag is important here, because loginForm model
                                                          must know what is this input-->
    <input id="username" type="text" name="username" th:value="*{username}" /><!--pass username "*",
    the th:value is for this field to remember the input, even if there is an error. Other case, if th:value is missing
     if we have an error the typed data in this field will be gone-->
    <span class="formError" th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">Invalid username</span><!--Check for errors in LoginForm(/forms)
                                                            or authentications in UserService(/services)
                                                             if the th:if is gone this msg will be permanent displayed-->
    <div><label for="password" th:value="*{password}">Password:</label></div>
    <input id="password" type="password" name="password" /><!--pass password...-->
    <span class="formError" th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Invalid password</span>

    <div><input type="submit" value="Login"/>
        <a href="register.html" th:href="@{/users/register}">[Go to Register]</a></div>
</form>

<footer th:replace="layout :: site-footer" />
</body>

</html>